<!--The content below is only a placeholder and can be replaced.-->

<div class="container form-group">
  <label for="inputtext1" class="bmd-label-static">Enter Item Here</label>
  <input type="text" class="form-control" id="inputtext1" #item>
  <br>
  <span class="form-group bmd-form-group">
      <button class="btn btn-primary" (click)="handleClickAdd(item.value)">Add Item</button>
      <button class="btn btn-danger" (click)="handleDelete()">Delete Selected</button>
  </span>  
  </div>

<div class="container" style="align-items:center">
    <mat-selection-list class="list-group" #list [(ngModel)]="selectedOptions">
    <mat-list-option  class="list-group-item" *ngFor="let item of items" [value]="item">{{item}}</mat-list-option>
    </mat-selection-list>
</div>